### Laravel Default ###
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

### IDE ###
/.idea
/.vscode
/.vagrant
*.iml
*.ipr
*.iws
/out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
_ide_helper.php
_ide_helper_models.php
.phpstorm.meta.php
.php_cs.cache
.php-cs-fixer.cache

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### SublimeText ###
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
sftp-config.json

### CodeKit ###
config.codekit
/min

### Node ###
*.log
!/resources/views/admin/logs
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.grunt
.lock-wscript
build/Release
node_modules

### Bower ###
bower_components
.bower-cache
.bower-registry
.bower-tmp

### Sass ###
.sass-cache/
*.css.map
*.js.map

### Webpack ###
/public/mix.js.map

### Apple Pay ###
/public/.well-known/*
